@charset "utf-8";
/* CSS Document */

body
{
	font-family: "Calibri";
	font-size: 16px;

	background: -moz-linear-gradient(left,  rgba(0,71,214,0.25) 50%, rgba(239,159,67,0.25) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(50%,rgba(0,71,214,0.25)), color-stop(100%,rgba(239,159,67,0.25))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(0,71,214,0.25) 50%,rgba(239,159,67,0.25) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(0,71,214,0.25) 50%,rgba(239,159,67,0.25) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(0,71,214,0.25) 50%,rgba(239,159,67,0.25) 100%); /* IE10+ */
	background: linear-gradient(to right,  rgba(0,71,214,0.25) 50%,rgba(239,159,67,0.25) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#400047d6', endColorstr='#40ef9f43',GradientType=1 ); /* IE6-9 */
}

.about-me h1, h2, h3
{
	font-family: "Times New Roman", Times, serif;
	margin: 0;
}

.about-me h2, h3
{
	display: inline-block;
}

ul
{
	list-style-type:circle;
}

.about-me li
{
	font-style: italic;
}

.about-me .li-highlight
{
	font-size:larger;
	color:blue;
}
.about-me .standard-paragraph
{
	width: 575px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.about-me .image-with-caption
{
	margin-left: 20px;
	height: 220px;
}

.about-me .caption
{
	width: 300px;
	display: inline-block;
	vertical-align: middle;
}

.about-me .clickit
{
	display:inline;
	margin-left: 10px;
}

.about-me .image
{
	display: inline-block;
	vertical-align: middle;
	border: 2px solid blue;
	background-image: url('http://www.advertigo.net/kepek/20150112_m9964onq_.jpg');
	background-size: 260px 220px;
	background-repeat: no-repeat;
	width: 260px;
	height: 220px;
	margin-left: 20px;
}

.about-me .image-highlight
{
	display: inline-block;
	vertical-align: middle;
	border: 2px solid yellow;
	background-image: url('http://www.advertigo.net/kepek/20150112_m9964onq_.jpg');
	background-size: 260px 220px;
	background-repeat: no-repeat;
	width: 260px;
	height: 220px;
	margin-left: 20px;
}
.about-me .jobs
{
	display: table;
	border: 1px solid black;
	margin-bottom: 20px;
	margin-left: 20px;
}

.about-me .jobs .job .name
{
	margin-left: 5px;
	width: 170px;
	border-right: 1px solid black;
	display: inline-block;
}

.about-me .jobs .job .desc
{
	margin-left: 5px;
	margin-right: 5px;
	display: inline-block;
}